@media (max-width:800px){
    .logo-main{
        display:flex;
        flex-direction: column; 
        justify-content: center;
        align-items: center;
        position: relative;
        .logo-web{
            display: flex;
            flex-direction: column;
            position: relative;
            left: 10%;
        }
        .logo-user{
            display: flex;
            flex-direction: column;
            position: relative;
            left: 10%;
        }    
    }
    .form{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .games-box{
        display: flex;
        flex-direction: column;

    }
    .buttons{
        display: flex;
        flex-direction: column;

    }

}