.form{
    border: 3px solid $color-2;
    text-align: center;
    padding: 35px;
    width: 50%;
    margin-top: 25px;
    left:25%;
    position: relative;
    border-radius: 25px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    padding: 40px;

    h2{
        font-size: 30px;
        font-family: $fonts-logo;
        color: $color-1;
        position: relative;

    }

    input{
        padding: 15px;
        border: 1px solid $color-1;
        box-shadow: 0 1px 2px rgba(0,0,0,.1);
        border-radius: 6px;
        margin: 25px;
        &::placeholder{
            
        }
    }
    input::placeholder{
        color: $color-1;
        font-family: $fonts-logo;
        padding: 15px;
    }

    button{
        font-size: 20px;
        padding: 10px;
        border: 6px double $color-logo;
        color: $color-logo;
        background: $color-2;
        border-radius: 14px;
        font-family: $fonts-logo;
    }
}
.text-loading{
    text-align: center;
    margin: 50px;
    font-family: $fonts-main;
    font-size: 60px;
    text-transform: uppercase;
    color: tomato;
}